# Ignore node_modules directory
node_modules/

# Ignore build output
dist/
build/

# Ignore log files
*.log

# Ignore environment variables
.env

# Ignore npm and yarn debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore local editor/project config files
.vscode/
.idea/

# Ignore macOS specific files
.DS_Store
