.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(102, 102, 102);
    width: 915px;
    height: 450px;
    border-radius: 10px;
    margin: 30px;
    margin: auto;
    margin-top: 20px;
    position: sticky;
    top: 20px;
  }

.contain{
  margin-top: 30px;
}  

.btn {
  background-color: aquamarine;
  border-radius: 5px;
  border:none;
  padding: 5px 15px;

}

.inputfield{
  border: none;
  border-radius: 5px;
  width: 180px;
  padding: 5px;
  font-size: medium;
}

.upload-card {
  border: 2px solid #2c3e50;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  background-color: #f9f9f9;
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
  position: relative;
  margin: 0 auto;
  width: 200px; 
}

.upload-card:hover {
  background-color: #ecf0f1;
  transform: scale(1.05);
}

.upload-label {
  display: block;
  color: #2c3e50;
}

.upload-content h4 {
  margin: 0;
  font-size: 1.2em;
}

.upload-content p {
  margin: 5px 0 0 0;
  font-size: 0.9em;
}
